[aws]
aws_access_key_id = 'AKIAUXPKD63ZGVPNSKGG'
aws_secret_access_key = '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'
region = us-east-1

[redshift]
cluster_Type= single-node
cluster_identifier = web-analytics-cluster
db_name = web-analytics-data
master_username = awsuser
master_password = Redshift2024
node_type = dc2.large
number_of_nodes = 1
iam_role_name = web-analytics-redshift-s3

