[aws]
aws_access_key_id = 'your-access-key'
aws_secret_access_key = 'your-secret-key'
region = us-east-1

[redshift]
cluster_Type= single-node
cluster_identifier = web-analytics-cluster
db_name = web-analytics-data
master_username = your-username
master_password = your-password
node_type = dc2.large
number_of_nodes = 1
iam_role_name = web-analytics-redshift-s3

